################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/HornedFrog/v16/Server/sqlite3/storage.ide-wal
/.vs/HornedFrog/v16/Server/sqlite3/storage.ide-shm
/.vs/HornedFrog/v16/Server/sqlite3/storage.ide
/.vs/HornedFrog/v16/Server/sqlite3/db.lock
/.vs/HornedFrog/v16/Server/sqlite3
/.vs/HornedFrog/v16/.suo
/.vs/HornedFrog/v16
/.vs
/HornedFrog/obj
/Core/HornedFrog.Core/obj/Debug/netcoreapp2.2
/Core/HornedFrog.Core/obj
