################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/HornedFrog/v16/Server/sqlite3/storage.ide-wal
/.vs/HornedFrog/v16/Server/sqlite3/storage.ide-shm
/.vs/HornedFrog/v16/Server/sqlite3/storage.ide
/.vs/HornedFrog/v16/Server/sqlite3/db.lock
/.vs/HornedFrog/v16/Server/sqlite3
/.vs/HornedFrog/v16/.suo
/.vs/HornedFrog/v16
/.vs
/HornedFrog/obj
/Core/HornedFrog.Core/obj/Debug/netcoreapp2.2
/Core/HornedFrog.Core/obj
/HornedFrog/bin/Debug/netcoreapp2.2
/HornedFrog/bin/Release/netcoreapp2.2
/HornedFrog.Data/bin/Debug/netcoreapp2.2/HornedFrog.Data.pdb
/HornedFrog.Data/bin/Debug/netcoreapp2.2/HornedFrog.Data.dll
/HornedFrog.Data/bin/Debug/netcoreapp2.2/HornedFrog.Data.deps.json
/HornedFrog.Data/obj/Debug/netcoreapp2.2/HornedFrog.Data.pdb
/HornedFrog.Data/obj/Debug/netcoreapp2.2/HornedFrog.Data.dll
/HornedFrog.Data/obj/Debug/netcoreapp2.2/HornedFrog.Data.csprojAssemblyReference.cache
/HornedFrog.Data/obj/Debug/netcoreapp2.2/HornedFrog.Data.csproj.FileListAbsolute.txt
/HornedFrog.Data/obj/Debug/netcoreapp2.2/HornedFrog.Data.csproj.CoreCompileInputs.cache
/HornedFrog.Data/obj/Debug/netcoreapp2.2/HornedFrog.Data.assets.cache
/HornedFrog.Data/obj/Debug/netcoreapp2.2/HornedFrog.Data.AssemblyInfoInputs.cache
/HornedFrog.Data/obj/Debug/netcoreapp2.2/HornedFrog.Data.AssemblyInfo.cs
/HornedFrog.Data/obj/project.assets.json
/HornedFrog.Data/obj/HornedFrog.Data.csproj.nuget.g.targets
/HornedFrog.Data/obj/HornedFrog.Data.csproj.nuget.g.props
/HornedFrog.Data/obj/HornedFrog.Data.csproj.nuget.dgspec.json
/HornedFrog.Data/obj/HornedFrog.Data.csproj.nuget.cache
/HornedFrog.DataContract/bin/Debug/netcoreapp2.2/HornedFrog.DataContract.pdb
/HornedFrog.DataContract/bin/Debug/netcoreapp2.2/HornedFrog.DataContract.dll
/HornedFrog.DataContract/bin/Debug/netcoreapp2.2/HornedFrog.DataContract.deps.json
/HornedFrog.DataContract/obj/project.assets.json
/HornedFrog.DataContract/obj/HornedFrog.DataContract.csproj.nuget.g.targets
/HornedFrog.DataContract/obj/HornedFrog.DataContract.csproj.nuget.g.props
/HornedFrog.DataContract/obj/HornedFrog.DataContract.csproj.nuget.dgspec.json
/HornedFrog.DataContract/obj/HornedFrog.DataContract.csproj.nuget.cache
/HornedFrog.DataContract/obj/Debug/netcoreapp2.2/HornedFrog.DataContract.pdb
/HornedFrog.DataContract/obj/Debug/netcoreapp2.2/HornedFrog.DataContract.dll
/HornedFrog.DataContract/obj/Debug/netcoreapp2.2/HornedFrog.DataContract.csproj.FileListAbsolute.txt
/HornedFrog.DataContract/obj/Debug/netcoreapp2.2/HornedFrog.DataContract.csproj.CoreCompileInputs.cache
/HornedFrog.DataContract/obj/Debug/netcoreapp2.2/HornedFrog.DataContract.assets.cache
/HornedFrog.DataContract/obj/Debug/netcoreapp2.2/HornedFrog.DataContract.AssemblyInfoInputs.cache
/HornedFrog.DataContract/obj/Debug/netcoreapp2.2/HornedFrog.DataContract.AssemblyInfo.cs
/HornedFrog.Domain/bin/Debug/netcoreapp2.2/HornedFrog.Domain.pdb
/HornedFrog.Domain/bin/Debug/netcoreapp2.2/HornedFrog.Domain.dll
/HornedFrog.Domain/bin/Debug/netcoreapp2.2/HornedFrog.Domain.deps.json
/HornedFrog.Domain/obj/project.assets.json
/HornedFrog.Domain/obj/HornedFrog.Domain.csproj.nuget.g.targets
/HornedFrog.Domain/obj/HornedFrog.Domain.csproj.nuget.g.props
/HornedFrog.Domain/obj/HornedFrog.Domain.csproj.nuget.dgspec.json
/HornedFrog.Domain/obj/HornedFrog.Domain.csproj.nuget.cache
/HornedFrog.Domain/obj/Debug/netcoreapp2.2/HornedFrog.Domain.pdb
/HornedFrog.Domain/obj/Debug/netcoreapp2.2/HornedFrog.Domain.dll
/HornedFrog.Domain/obj/Debug/netcoreapp2.2/HornedFrog.Domain.csprojAssemblyReference.cache
/HornedFrog.Domain/obj/Debug/netcoreapp2.2/HornedFrog.Domain.csproj.FileListAbsolute.txt
/HornedFrog.Domain/obj/Debug/netcoreapp2.2/HornedFrog.Domain.csproj.CoreCompileInputs.cache
/HornedFrog.Domain/obj/Debug/netcoreapp2.2/HornedFrog.Domain.assets.cache
/HornedFrog.Domain/obj/Debug/netcoreapp2.2/HornedFrog.Domain.AssemblyInfoInputs.cache
/HornedFrog.Domain/obj/Debug/netcoreapp2.2/HornedFrog.Domain.AssemblyInfo.cs
/Core/HornedFrog.Core/bin/Debug/netcoreapp2.2/HornedFrog.Core.pdb
/Core/HornedFrog.Core/bin/Debug/netcoreapp2.2/HornedFrog.Core.dll
/Core/HornedFrog.Core/bin/Debug/netcoreapp2.2/HornedFrog.Core.deps.json
/Core/HornedFrog.Core/bin/Debug/netcoreapp2.2/HornedFrog.Domain.pdb
/Core/HornedFrog.Core/bin/Debug/netcoreapp2.2/HornedFrog.Domain.dll
/Core/HornedFrog.Core/bin/Debug/netcoreapp2.2/HornedFrog.DataContract.pdb
/Core/HornedFrog.Core/bin/Debug/netcoreapp2.2/HornedFrog.DataContract.dll
/HornedFrog.Data/bin/Debug/netcoreapp2.2/HornedFrog.Domain.pdb
/HornedFrog.Data/bin/Debug/netcoreapp2.2/HornedFrog.Domain.dll
/HornedFrog.Data/bin/Debug/netcoreapp2.2/HornedFrog.DataContract.pdb
/HornedFrog.Data/bin/Debug/netcoreapp2.2/HornedFrog.DataContract.dll
/HornedFrog.DataContract/obj/Debug/netcoreapp2.2/HornedFrog.DataContract.csprojAssemblyReference.cache
/HornedFrog.DataContract/obj/Debug/netcoreapp2.2/HornedFrog.DataContract.csproj.CopyComplete
/HornedFrog.DataContract/obj/Debug/netcoreapp2.2
/HornedFrog.DataContract/bin/Debug/netcoreapp2.2/HornedFrog.Domain.pdb
/HornedFrog.DataContract/bin/Debug/netcoreapp2.2/HornedFrog.Domain.dll
/HornedFrog.Data/obj/Debug/netcoreapp2.2/HornedFrog.Data.csproj.CopyComplete
